<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <div class="card-group">
        <div class="card-deck">
          <!-- ?card1 -->

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/burger.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">delicious burger meal with french fries and soft drinks.</p>
              <span><a href="#" class="btn btn-primary">100$</a></span>

            </div>
          </div>
          <!-- ?card2 -->

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/burger.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">delicious burger meal with french fries and soft drinks.</p>
              <span><a href="#" class="btn btn-primary">100$</a></span>
            </div>
          </div>

          <!-- ?card3 -->

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/burger.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">delicious burger meal with french fries and soft drinks.</p>
              <span> <a href="#" class="btn btn-primary">100$</a></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>